<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
        <link rel="stylesheet" href="/static/custom.css">
        <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <h1>Stack Overkill</h1>
            <p>Why do less when you can make it overkill.</p>
            <p></p>
            <nav>
                <a href="/blog">Blog</a>
                <a href="/tool">Tools</a>
            </nav>
        </header>