<style>
    #password {
        font-size: 18px;
        margin-bottom: 10px;
    }
    #strength-meter {
        width: 100%;
        height: 10px;
        margin-bottom: 10px;
    }
    label {
        display: block;
        margin-top: 10px;
    }
</style>
<h1>Memorable Password Generator</h1>
<div id="password"></div>
<form hx-target="#password" hx-get="/api/tool/memorable-password-generator">
<button type="submit" >Generate Password</button>
<br>
<label>
    <input name="word-count" type="number" id="wordCount" value="3" min="1" max="10">
    Number of words
</label>
<label>
    <input name="special-character" type="checkbox" id="includeSpecialChar">
    Include special character
</label>
</form>
<!-- <progress id="strength-meter" value="0" max="100"></progress> -->